@{
    Layout = null;
    string nome = "felipe";
    int idade = 23;
    string cidade = "São José do Rio Preto";

    string texto = "Ola pessoas. Isso é um texto";

    <p>@texto <br> Meu nome é @nome, tenho @idade anos e moro em @cidade</p>
}
